.starter-template{
    margin: 85px 0 0 0;
}
.lema-titulo{
    font-size: 1.6rem;
}
.antes-vistas{
    height: 85px;
    width: 100%;
    float: left;
}
.vistas{
    min-height: 86vh;
    background: rgba(255, 255, 255, .9);
    border-radius: 10px;
    border: 8px solid #FF7F00;
    font-family: Kindergarten;
}
.vistas:last-child{
    margin-bottom: 15px;
}