.starter-template{
  /*height: 93vh;*/
  margin: 70px 0 0 0;
}
.lema-titulo{
  font-size: 1.6rem;
}
.antes-vistas{
  height: 85px;
  width: 100%;
  float: left;
}
.vistas{
  min-height: 86vh;
  background: rgba(255, 255, 255, .6);
  border-radius: 10px;
  border: 8px solid #FF7F00;
  font-family: Kindergarten;
}
.vistas:last-child{
    margin-bottom: 15px;
}
.logo-pag {
  float: left;
  width: 67px;
  margin: 0 8px;
}
@media (max-width: 360px) {
  .navbar-inverse .navbar-brand {
    width: 80%;
  }
  .lema-titulo {
    font-size: 1.4rem;
  }
  .navbar-brand {
      font-size: 16px;
  }
  .carousel-caption > p {
    display: none;
  }
  .carousel-caption p:first-child {
    display: block;
  }
}